In [ ]:
import pandas as pd                ## CREATE A DATA
import numpy as np

In [ ]:
labels=['w','x','y','z']
sample_list=[100,200,300,400]
array=np.array([1,2,3,4])
dict={'w':10,'x':20,'y':30,'z':40}

In [ ]:
pd.Series(data=sample_list)     ## USED TO CREATE A SERIES OF DATA

In [ ]:
pd.Series(data=sample_list,index=labels)       ## USED TO CHANGE INDEX ACCORDING TO US

In [ ]:
pd.Series(sample_list,array)

In [ ]:
pd.Series(dict)

In [ ]:
sports1=pd.Series([1,2,3,4],index=['cricket','football','basketball','golf'])     ## IT IS ANOTHER WAY OF CREATING A SERIES
sports1

In [ ]:
sports1['cricket']

In [ ]:
sports2=pd.Series([11,2,3,4],index=['cricket','football','baseball','golf'])
sports2

In [ ]:
sports1 + sports2        ##ONLY THE COMMON BTWEEN BOTH ARE ADDED

baseball       NaN
basketball     NaN
cricket       12.0
football       4.0
golf           8.0
dtype: float64

In [ ]:
df1=pd.DataFrame(np.random.rand(8,5),index='A B C D E F G H'.split(),columns='Score1 Score2 Score3 Score4 Score5'.split())
df1        ## USED TO CREATE A DATA TABLE OF 8 ROWS AND  5 COLUMNS

In [ ]:
df1["Score3"]

In [ ]:
df1[["Score1","Score2","Score3"]]

In [ ]:
df1['Score6']=df1['Score1']+df1["Score2"]    ## WE CAN ADD ANEW COLUMN
df1

In [ ]:
df2={'ID':['101','102','103','107','176'],'Name':['John','Mercy','Akash','Kavin','Lally'],'Profit':[20,54,56,87,123]}
df=pd.DataFrame(df2)
df      ## DATAFRAME CAN ALSO BE CREATED IN THIS WAY

In [ ]:
df["ID"]

In [ ]:
df[["ID","Name"]]

In [ ]:
df=df.drop("ID",axis=1)     ## HERE ASIX MEANS THE NO. OF COLUMN WE WANT TO DROP

In [ ]:
df

In [ ]:
df.drop(3)

In [ ]:
df.drop(2,axis=0)